<!-- 
  VERSION ZONELESS :
  Ici, chaque boule est liée à un SIGNAL précis.
-->
<div class="tree-container" #treeContainer>
  {{ checkVisualizer() }}

  <div class="branches top"></div>
  <div class="branches">
    <!-- 
      Boule 1 : Liée au signal ball1Color()
      Si ce signal ne change pas, Angular ne touche pas à cette div.
    -->
    <div class="ornament o1" 
         [style.background-color]="ball1Color()"
         [class.pulse]="lastChanged === 1">
    </div>

    <!-- Boule 2 -->
    <div class="ornament o2" 
         [style.background-color]="ball2Color()"
         [class.pulse]="lastChanged === 2">
    </div>

    <!-- Boule 3 -->
    <div class="ornament o3" 
         [style.background-color]="ball3Color()"
         [class.pulse]="lastChanged === 3">
    </div>
  </div>
  <div class="trunk"></div>

  <div class="inputs-display" style="margin-top: 15px; font-size: 0.9rem;">
    <div>Compteur Global: <span style="color: #ffeb3b">{{ counter() }}</span></div>
    <div style="font-size: 0.8rem; color: #aaa;">Checks: {{ checkCount }}</div>
  </div>
</div>

