<h1>Mode : Zoneless + Signaux 🚦</h1>
<p class="info-text">
  L'Horloger de Précision. Ici, on cible chirurgicalement ce qui doit changer.
</p>

<div class="controls-container">
  
  <div class="card">
    <h3>Compteur Global</h3>
    <button (click)="incrementSignal()">➕ Incrémenter Signal</button>
    <small>Met à jour le compteur (tout le template est revérifié)</small>
  </div>

  <div class="card" style="border-color: #03a9f4;">
    <h3>Mise à jour Ciblée</h3>
    <p>Changez la couleur d'une seule boule :</p>
    <div class="balls-controls">
      <button class="ball-btn b1" (click)="updateBall(1)">🔴 Boule 1</button>
      <button class="ball-btn b2" (click)="updateBall(2)">🟡 Boule 2</button>
      <button class="ball-btn b3" (click)="updateBall(3)">🔵 Boule 3</button>
    </div>
    <small>Seule la boule concernée change de couleur !</small>
  </div>

</div>

<div class="tree-display">
  <app-tree-zoneless [counter]="counterSignal()"></app-tree-zoneless>
</div>

<!-- Zone de bruit -->
<div class="interaction-zone" (mousemove)="onMouseMove()" (scroll)="onScroll()">
  <p>🐭 Zone de test (Souris / Scroll) : Calme plat.</p>
</div>
